@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.row {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.tournament {
  margin: auto;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tournament .stream-view {
  padding-top: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.tournament .stream-view .champions-panel {
  border: #CEAE71 solid 1px;
  background: #213940;
  height: 24%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tournament .stream-view .champions-panel .panel-name {
  padding-left: 20px;
  padding-top: 5px;
}
.tournament .stream-view .champions-panel .panel-name span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #CEAE71;
}
.tournament .stream-view .champions-panel .champions-display {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  gap: 50px;
}
.tournament .stream-view .champions-panel .champions-display .champions-number {
  padding-left: 40px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tournament .stream-view .champions-panel .champions-display .champions-number span.number {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #D0D0D0;
}
.tournament .stream-view .champions-panel .champions-display .champions-number span.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #D0D0D0;
}
.tournament .stream-view .champions-panel .champions-display .champions-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}
.tournament .stream-view .champions-panel .champions-display .champions-list .champion {
  border: #CEAE71 solid 1px;
  width: 32px;
  height: 32px;
}
.tournament .stream-view .champions-panel .champions-display .champions-list .champion img {
  width: 100%;
  height: 100%;
}
.tournament .stream-view .players-ranking {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}
.tournament .stream-view .players-ranking .player-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 34px;
  width: 100%;
  background: #343434;
  border: 1px solid #E8AF46;
}
.tournament .stream-view .players-ranking .player-row .rank-number {
  padding-left: 10px;
  min-width: 60px;
}
.tournament .stream-view .players-ranking .player-row .rank-number span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #CEAE71;
}
.tournament .stream-view .players-ranking .player-row .rank-number span.big {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #CEAE71;
}
.tournament .stream-view .players-ranking .player-row .icon {
  width: 22px;
  height: 20px;
}
.tournament .stream-view .players-ranking .player-row .icon.big {
  width: 43px;
  height: 43px;
}
.tournament .stream-view .players-ranking .player-row .username {
  min-width: 200px;
}
.tournament .stream-view .players-ranking .player-row .username span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #E1E1E1;
}
.tournament .stream-view .players-ranking .player-row .username span.big {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #E1E1E1;
}
.tournament .stream-view .players-ranking .player-row .number {
  min-width: 50px;
}
.tournament .stream-view .players-ranking .player-row .number span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #CEAE71;
}
.tournament .stream-view .players-ranking .player-row .number span.big {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #CEAE71;
}
.tournament .config-view {
  width: 30%;
}
.tournament .config-view .config-container {
  padding-top: 20px;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: aliceblue;
}
.tournament .config-view .config-container .classic-config {
  display: flex;
  flex-direction: column;
}
.tournament .config-view .config-container .champions-config {
  display: flex;
  flex-direction: column;
}
.tournament .config-view .config-container .champions-config button {
  width: 100%;
}
.tournament .config-view .config-container .champions-config .bg-white {
  padding-top: 8px;
  padding-left: 8px;
  background-color: white;
  border: #213940 solid 1px;
}
.tournament .config-view .config-container .champions-config .bg-white input {
  margin-left: 8px;
}
.tournament .config-view .config-container .champions-config .bg-white ul {
  list-style: none;
  padding-left: 2px;
}
.tournament .config-view .config-container .champions-config .bg-white ul li {
  cursor: pointer;
  margin-top: 3px;
}
.tournament .config-view .config-container .champions-config .bg-white ul li:nth-child(even) {
  background-color: aliceblue;
}
.tournament .config-view .config-container .champions-config .bg-white ul li:nth-child(odd) {
  background-color: beige;
}
.tournament .config-view .config-container .players-config {
  display: flex;
  flex-direction: column;
}
.tournament .config-view .config-container .players-config .player-config-row {
  border: #343434 solid 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: start;
}
.tournament .config-view .config-container .players-config .player-config-row.focused {
  background-color: #efff00;
}
.tournament .config-view .config-container .players-config .player-config-row .username {
  padding-left: 4px;
  justify-self: end;
}
.tournament .config-view .config-container .players-config .player-config-row span {
  font-weight: bold;
  justify-self: end;
}
.tournament .config-view .config-container .players-config .player-config-row .row {
  justify-content: space-between;
}

/*# sourceMappingURL=App.css.map */
